@import "../../settings";
@import url('https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap');
@import 'react-calendar/dist/Calendar.css';
body {
  font-family: Manjari, sans-serif;
  font-size: 14px;
  .filter-column{
    display: block;
    .calendar {
      width: $width-calendar;
      height : $height-calendar;
      border-radius: $task-border-radius;
    }
  }
  .list-hashtag{
    margin-top: 5px;
    height:calc(100% - #{$height-calendar});
    background-color: white;
    border-radius: $task-border-radius;
    padding: 8px 5px 0 10px;
    overflow-y :auto;
    font-weight: bold;
    .hashtag-item{
      display: flex;
      align-items: flex-end;
      padding: 10px 5px 0 10px;
      max-width: $width-calendar - 30px;
      overflow-x :hidden;
      overflow-y :hidden;
      color: black;
      text-align:left;
      font-size: 13px;
      font-weight: normal;
      justify-content: space-between;
    }
    .add-new-hashtag{
      margin-top: 10px;
      color: gray;
      font-weight: bold;
      &:hover{
        color:#333;
        cursor : pointer;
      }
    }
  }
}

