$board-bg-color: #f3f3f3;
$gap: 10px;
$navbar-app-bg-color: #6acefc;
$navbar-board-bg-color: #5B858FFF;
$column-board-radius: 5px;
$list-bg-color: #c2c2c2;
$column-header-height : 36px;
$column-footer-height : 36px;
$size-task :270px;
$add-task-size: 263px;
$task-border-radius:6px;
$height-calendar: 280px;
$width-calendar: 250px;
$width-form-add-hashtag: 300px;