$board-bg-color: #d9d9d9;
$gap: 10px;
$navbar-app-bg-color: #c5d7de;
$navbar-board-bg-color: #5B858FFF;
$column-board-radius: 5px;
$list-bg-color: #c2c2c2;
$column-header-height : 36px;
$column-footer-height : 36px;
$size-task :270px;
$task-border-radius:3px;
$height-calendar: 280px;
$width-calendar: 250px;
$width-form-add-hashtag: 300px;