@import '../../_settings';
body {
  background: rgba(0,0,0,0.6);
}
.body-form{
  text-align: center;
  background-color: white;
  width: $width-form-add-hashtag;
  margin-left: calc(50% - #{$width-form-add-hashtag/2});
  margin-right: calc(50% - #{$width-form-add-hashtag/2});
  margin-top: 50px;
  padding:10px 10px 10px 10px;
  border-radius: $task-border-radius;
  box-shadow: 0 1px 1px rgba(0,0,0,1);
  .input-name{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .buttons{
    justifyContent:space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    .create-button{
      margin-right: 10px;
    }
    .cancel-button{
      .return-dashboard{
        text-decoration: none;
      }
    }
  }
}