@import '../../_settings';
body {
  background: rgba(0,0,0,0.6);
  min-height: fit-content;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.body-form{
  text-align: center;
  background-color: white;
  width: $width-form-add-hashtag;
  margin-left: calc(50% - #{$width-form-add-hashtag/2});
  margin-right: calc(50% - #{$width-form-add-hashtag/2});
  margin-top: 50px;
  padding:10px 10px 10px 10px;
  border-radius: $task-border-radius;
  box-shadow: 0 1px 1px rgba(0,0,0,1);
  .input-title{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .input-description{
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  .list-hashtag{
    font-size:16px;
    text-align: left;
    .basic-multi-select{
      margin-top: 20px ;
      width: 280px;
      text-align: right;
    }
  }
  .board-subtask{
    font-weight: normal;
    text-align: left;
    margin: 10px 10px 0 0;
    .list-subtask{
      margin-left: 20px;
    }
    .name-subtask{
      font-weight: normal;
      font-size: 15px;
    }
  }

  .date-task{
    margin-top: 10px;
    margin-bottom:10px;
    display: flex;
    justify-content: space-between;
    .name-date{
      width: 120px;
      text-align: left;
    }
    .date{
      margin-left: 60px;
    }
    .add-action{
      font-weight: normal;
    }
  }
  .due-date{
    margin-top: 10px;
    margin: bottom 10px;
    display: flex;
    justify-content: space-between;
    .name-duedate{
      width: 100px;
      text-align: left;
    }
    .duedate{
      margin-left: 70px;
    }
  }
  .add-new-subtask{
    display: flex;
    justify-content: space-between;
    margin-top: 10px ;
    font-weight: normal;
    font-size: 14px;
  }
  .buttons{
    justify-content:space-between;
    padding-top: 20px;
    .save-button{
      color: gray;
      margin-right: 50px ;
    }
    .cancel-button{
      .return-dashboard{
        text-decoration: none;
      }
    }
    .delete-button{
      margin-left: 50px ;
    }
  }
}